:root {
	--c-green: #228b22;
	--c-red: #950e0d;
}

.insecure-warnings-panel {
	flex-wrap: wrap;

	& p {
		font-weight: bolder;
		margin: 10px 0 0;
	}
}

.icw-list-item {
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;

	& .js-icw-check {
		display: block;
		margin: 5px 0;
	}

	& .js-icw-error,
	& .js-icw-fixed {
		display: none;
		font-weight: bolder;
	}

	& .js-icw-error {
		color: var(--c-red);
	}

	& .js-icw-fixed {
		color: var(--c-green);
	}
}

.js-icw-spinner {
	display: none;
	padding-left: 4px;
	vertical-align: bottom;
}

.gutenberg-js-icw-check,
.gutenberg-js-icw-view {
	display: block;
	height: auto;
	margin: 5px 0;
	padding: 5px;
}
